<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" xmlns:desktop2="http://schemas.microsoft.com/appx/manifest/desktop/windows10/2" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap mp rescap desktop desktop2">
  <Identity Name="OrenNovotnyLLC.RSSBandit.CI" Version="1.9.9.0" Publisher="CN=oren" />
  <Properties>
    <DisplayName>RSS Bandit CI</DisplayName>
    <PublisherDisplayName>Oren Novotny, LLC</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.16299.0" MaxVersionTested="10.0.16299.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="RSS Bandit CI" Description="RSS Bandit News Reader" BackgroundColor="transparent" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile ShortName="RSS Bandit CI" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\splashscreen.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.startupTask" Executable="RssBandit\RSSBandit.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="RssBanditStartupTask" Enabled="true" DisplayName="RSS Bandit CI Startup Task" />
        </desktop:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="feed">
            <uap:DisplayName>Feed Protocol</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
  <Extensions>
    <desktop2:Extension Category="windows.firewallRules">
      <desktop2:FirewallRules Executable="RssBandit\RSSBandit.exe">
        <desktop2:Rule Direction="in" IPProtocol="TCP" Profile="all" />
        <desktop2:Rule Direction="in" IPProtocol="UDP" Profile="all" />
      </desktop2:FirewallRules>
    </desktop2:Extension>
  </Extensions>
</Package>