<configuration>
  <!--  CVS Version Header
 $Id$
 Last modified by $Author$
 Last modified at $Date$
 $Revision$
-->
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement"/>
  </configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- PlugIns are IBlogExtensions, AddIns are Bandit specific app extensions -->
			<probing privatePath="Plugins;AddIns"/>
		</assemblyBinding>
	</runtime>
  <appSettings file="RssBandit.exe.user.config">
    <add key="CustomPreferencesStore" value="RssBandit.WinGui.Utility.UiStateSettings,RssBandit"/>
    <!-- 
			Here are the main app links used to navigate to 
			Bandit specific web sites and foreign helper links 
			like that for feed validation: 
			
    <add key="validationUrlBase" value="http://feedvalidator.org/check?url=" />
    <add key="linkCosmosUrlBase" value="http://www.technorati.com/cosmos/links.html?rank=links&amp;url=" />
    <add key="bugReportUrl" value="http://sourceforge.net/tracker2/?func=browse&amp;group_id=96589&amp;atid=615248&amp;status=1" />
    <add key="projectNewsUrl" value="http://rssbandit.org/" />
    <add key="projectDownloadUrl" value="http://rssbandit.org/rss-bandit-download/" />
    <add key="wikiWebUrl" value="http://rssbandit.org/blog/" />
    <add key="userForumUrl" value="http://forum.rssbandit.org/" />
    <add key="webHelpUrl" value="http://docs.rssbandit.org/v1.8/" />
    <add key="projectDonationUrl" value="http://rssbandit.org/donate/" />
    -->
    <!-- 	Extended configuration settings: -->
    <!-- 
			MaxDownloadThreads configures the maximum amount of background threads 
			fetching feeds/nntp groups concurrently. Default is 4. 
		-->
    <add key="MaxDownloadThreads" value="4"/>
    <!-- 
			UnconditionalCommentRss configures, if the comment count offered by some feeds will be considered to determine
			if the comment feed 	will really contain any comment. Default is false (considered). If true,
			the comment feeds can be requested as long any comment feed url is available.
		-->
    <add key="UnconditionalCommentRss" value="false"/>
    <!-- 
			AutomaticColorSchemes configuration have to be set to false if you consider
			any bad UI rendering effects while running software, that tweaks the windows default
			color scheme handling (Windows XP and higher) to provide "extended" schemes
			like the wellknown Window Blinds or StyleXP applications. Default is true.
		 -->
    <add key="AutomaticColorSchemes" value="true"/>
    <!-- 
			UseCookiesFromIE configures, if the existing Internet Explorer cookies should be
			taken over to feed requests. This is on by default (true), to allow web feeds 
			that use cookies to save credential informations to identify a valid visitor.
		-->
    <add key="UseCookiesFromIE" value="true"/>
    <!-- 
			Controls lucene indexing behavior. Valid values are:
				 NoIndexing:
						 No index will be built (search feature will NOT be available!)
				 LocalAppDataDirectoryBased (Default):
						 Index is directory based and build relative to
						 the user's local application data folder
				 AppDataDirectoryBased:
						 Index is directory based and build relative to
						 the user's application data folder
				 TempDirectoryBased:
						 Index is directory based and build relative to
						 the user's temporary folder
			-->
    <add key="Lucene.SearchIndexBehavior" value="Default"/>
    <!--
      Indicates how many days from the current date to consider when computing Top Stories
     -->
    <add key="TopStoriesTimeSpanInDays" value="7"/>
  </appSettings>
  <exceptionManagement mode="on">
    <publisher assembly="RssBandit" type="RssBandit.BanditExceptionPublisher" fileName="%APPDATA%\RssBandit\error.log" exclude="" include="*"/>
    <publisher assembly="RssBandit" type="RssBandit.ExceptionLog4NetPublisher" exclude="" include="*"/>
  </exceptionManagement>
  <!-- Don't throw exceptions on malformed HTTP headers since they are common on the Web -->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" Value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
