<?xml version="1.0" encoding="utf-8" ?> 
<log4net>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="${APPDATA}\\RssBandit\\trace.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="8" />
		<maximumFileSize value="200KB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="RollingLogFileAppender" />
	</root>
	
	<!-- Print only messages of level INFO or above in this package: -->
	<!--logger name="NewsComponents.NewsHandler">
		<level value="INFO" />
	</logger-->

</log4net>
