<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="rssBandit.UpdateService.UpdateInfos" type="RssBandit.Services.UpdateInfoSectionHandler, RssBandit.Services"/>
	</configSections>
	<rssBandit.UpdateService.UpdateInfos>
		<!--  example:
    <updateInfos appID="{GUID}"> 
        <updateInfo appVersion="1.3.0.27" downloadLink="http://..." />
	</updateInfos>
	end example 	-->
		<updateInfos appID="9DDCC9CA-DFCD-4BF3-B069-C9660BB28848">
			<updateInfo appVersion="1.9.0.1002" downloadLink="http://rssbandit.org/rss-bandit-download/"/>
		</updateInfos>
	</rssBandit.UpdateService.UpdateInfos>
	<appSettings>
		<add key="log4net.config" value="~\RssBandit.Services.log4net.config"/>
	</appSettings>
	<system.web>
		<compilation defaultLanguage="c#" debug="false"/>
		<customErrors mode="RemoteOnly"/>
		<authentication mode="None"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<httpRuntime useFullyQualifiedRedirectUrl="true"/>
		<trace enabled="false" localOnly="true" requestLimit="1000" pageOutput="true" traceMode="SortByTime"/>
		<sessionState mode="InProc" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<pages/>
		<xhtmlConformance mode="Legacy"/></system.web>
</configuration>
