<configuration>
	<!--  CVS Version Header
 $Id: app.config,v 1.3 2007/06/12 15:22:35 t_rendelmann Exp $
 Last modified by $Author: t_rendelmann $
 Last modified at $Date: 2007/06/12 15:22:35 $
 $Revision: 1.3 $
-->
	<configSections>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,Microsoft.ApplicationBlocks.ExceptionManagement"/>
	</configSections>
	<startup>
	</startup>
	<appSettings file="RssBandit.exe.user.config">
		<add key="CustomPreferencesStore" value="RssBandit.WinGui.Utility.Settings,RssBandit"/>
		<!-- 
			Here are the main app links used to navigate to 
			Bandit specific web sites and foreign helper links 
			like that for feed validation: 
			-->
		<add key="validationUrlBase" value="http://feedvalidator.org/check?url="/>
		<add key="linkCosmosUrlBase" value="http://www.technorati.com/cosmos/links.html?rank=links&amp;url="/>
		<add key="bugReportUrl" value="http://sourceforge.net/tracker/?atid=615248&amp;group_id=96589&amp;func=browse"/>
		<add key="projectNewsUrl" value="http://sourceforge.net/news/?group_id=96589"/>
		<add key="projectDownloadUrl" value="http://sourceforge.net/project/showfiles.php?group_id=96589&amp;package_id=103276"/>
		<add key="wikiWebUrl" value="http://www.rssbandit.org/"/>
		<add key="userForumUrl" value="http://www.rssbandit.org/forum/"/>
		<add key="webHelpUrl" value="http://www.rssbandit.org/docs/v1.5/"/>
		<add key="projectDonationUrl" value="http://sourceforge.net/donate/index.php?group_id=96589"/>
		<!-- 	Extended configuration settings: -->
		<!-- 
			MaxDownloadThreads configures the maximum amount of background threads 
			fetching feeds/nntp groups concurrently. Default is 4. 
		-->
		<add key="MaxDownloadThreads" value="4"/>
		<!-- 
			UnconditionalCommentRss configures, if the comment count offered by some feeds will be considered to determine
			if the comment feed 	will really contain any comment. Default is false (considered). If true,
			the comment feeds can be requested as long any comment feed url is available.
		-->
		<add key="UnconditionalCommentRss" value="false"/>
		<!-- 
			AutomaticColorSchemes configuration have to be set to false if you consider
			any bad UI rendering effects while running software, that tweaks the windows default
			color scheme handling (Windows XP and higher) to provide "extended" schemes
			like the wellknown Window Blinds or StyleXP applications. Default is true.
		 -->
		<add key="AutomaticColorSchemes" value="true"/>
		<!-- 
			UseCookiesFromIE configures, if the existing Internet Explorer cookies should be
			taken over to feed requests. This is on by default (true), to allow web feeds 
			that use cookies to save credential informations to identify a valid visitor.
		-->
		<add key="UseCookiesFromIE" value="true"/>
	</appSettings>
	<runtime>
		<!-- convert AccessViolationException's to NullReferenceExceptions -->
		<legacyNullReferenceExceptionPolicy enabled="1"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="plugins"/>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Forms" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Xml" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v1.0.3705">
			<dependentAssembly>
				<assemblyIdentity name="Accessibility" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="cscompmgd" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="7.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CustomMarshalers" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IEExecRemote" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IEHost" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IIEHost" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ISymWrapper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.JScript" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="7.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualBasic.Compatibility.Data" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="7.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualBasic.Compatibility" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="7.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="7.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualBasic.Vsa" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="7.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualC" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="7.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vsa" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="7.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vsa.Vb.CodeDOMProcessor" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="7.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft_VsaVb" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="7.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="mscorcfg" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Configuration.Install" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.DirectoryServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.EnterpriseServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Management" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Messaging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Remoting" publicKeyToken="b77a5c561934e089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Serialization.Formatters.Soap" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ServiceProcess" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mobile" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.RegularExpressions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="vjscor" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="VJSharpCodeProvider" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="7.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="vjslib" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="vjslibcw" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="vjswfc" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="VJSWfcBrowserStubLib" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="vjswfccw" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="vjswfchtml" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.0.3300.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<exceptionManagement mode="on">
		<publisher assembly="RssBandit" type="RssBandit.BanditExceptionPublisher" fileName="%APPDATA%\RssBandit\error.log" exclude="" include="*"/>
		<publisher assembly="RssBandit" type="RssBandit.ExceptionLog4NetPublisher" exclude="" include="*"/>
	</exceptionManagement>
</configuration>
