<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BuildPackages" value="https://pkgs.dev.azure.com/clairernovotny/96789f1c-e804-4671-be78-d063a4eced9b/_packaging/525a8e42-1866-4cc1-9be7-4b27c90e1ee0/nuget/v3/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
